apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    uid: {{ grafana_prometheus_datasource_uid }}
    url: {{ grafana_prometheus_url }}
    isDefault: true
    editable: false
