module(load="imtcp")
input(type="imtcp" port="{{ mail_log_receive_port }}")

{% for source_ip in mail_log_source_ips %}
if ($fromhost-ip == '{{ source_ip }}') then {{ mail_log_receive_file }}
& stop
{% endfor %}
